<style>
.backG {
  background: url(torontoBG.jpg) no-repeat 50% 50%;
  background-size: cover;
}
</style>



<div id="about" class="mx-auto col-sm-6">
  <div class="card" style="padding:10px;">
    <h2>About</h2>

    <p>XTRA is a innovative tool to help keep track of what's important. Invite and build your own network while populating relevant information from within your group.</p>
  </div>
</div>
