<style>
  header {
    height: 20px;
  }
</style>

  <h2>Posts Page</h2><br>

  <h3> You clicked <%= @result_post.title %></h3><br>
  <h4> This book was written by: <%= @result_post.author %></h4><br>
  <p><%= @result_post.description %></p><br>

<a href = "/posts/new" class="btn btn-primary"> Back to Posts Page </a>
